/* logindashboard.css */

.doershead {
    /* border: 1px solid; */
    width: 80%;
    margin: auto;
}

.input-field {
    width: 80%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
   
}

.option-btn {
    width: 100%;
    padding: 8px;
    background-color: #f3f4f6;
    text-align: left;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 5px;
}

.option-btn:hover {
    background-color: #e5e7eb;
}

.delete-btn {
    background-color: #ff4747;
    color: white;
}

.delete-btn:hover {
    background-color: #e63946;
}

.bg-gray-300 {
    background-color: #e5e7eb;
}

.add-button {
    background-color: #4f46e5;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
}

.add-button:hover {
    background-color: #4338ca;
    transition: background-color 0.3s ease;
}

.hover-row:hover {
    background-color: #f4f4f9;
}

.options-container {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 50; /* Ensure dropdown is on top */
}


.doershead table thead tr th{
    text-align: left;
    border: 1px solid #ccc;
    padding: 10px;
}

.doershead table tbody tr td{
    border: 1px solid #ccc;
    padding: 10px;
}