.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100vw; */
    height: 50%;
    align-items: center;
    font-size: 18px;
    padding: 0px 30px;
    /* border: 1px solid; */

    .tagsss {
        display: flex;
        width: 80%;
        /* border: 1px solid; */
        justify-content: flex-end;
        gap: 50px;
        padding: 0px 30px;
    }
}